---
import NavIcon from "@layouts/NavIcon.astro";
import NavBar from "@layouts/NavBar.astro";
import SectionOne from "@layouts/SectionOne.astro";
import SectionTwo from "@layouts/SectionTwo.astro";
import SectionThree from "@layouts/SectionThree.astro";
import FeedBack from "@layouts/FeedBack.astro";
import Expertice from "@layouts/Expertice.astro";

import ScrollReavel from "@components/TextAnimation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="style/index.css" />

    <ScrollReavel />

    <script is:inline>
      function openNavbar() {
        const navBar = document.getElementById("NavBar");
        const icons = document.querySelector(".icon");
        icons.classList.toggle("open");
        navBar.classList.toggle("-translate-y-full");
      }
    </script>

    <meta name="generator" content={Astro.generator} />
    <title>Arceus - Home Page</title>
  </head>
  <body class="hide-scroll h-screen">
    <div class="flex justify-between">
      <div class="relative hide-scroll overflow-x-hidden w-full h-screen scroll-container">
       <NavIcon />
        <NavBar />
        <SectionOne />
        <SectionTwo />
        <SectionThree />
        <FeedBack />
        <Expertice />
      </div>
    </div>
  </body>
</html>
