---
const {title} = Astro.props;
---


<div
class="absolute left-1/2 top-1/2 h-96 w-80 -translate-x-1/2 -translate-y-1/2 border-2 border-blue-50  bg-white "
>
</div>

<div
class="absolute left-1/2 top-1/2 h-96 w-80 -translate-x-1/2 flex items-center border-2 border-blue-50  -translate-y-1/2 space-y-6 bg-blue-600 p-6 transition duration-300 hover:rotate-6"
>
<div>
  <p class="text-center w-full mx-auto text-5xl font-bold text-blue-50">
    {title}
  </p>
</div>
</div>

