<section
  class="scroll-section w-full h-full flex justify-between flex-col overflow-hidden purple"
>
  <div
    class="relative w-full h-full bg-blue-600 text-right flex items-center justify-center"
  >
    <div
      class="text-3xl lg:text-8xl text-center gap-20 text-blue-50 mx-auto flex flex-col justify-between items-center"
    >
    <div class="z-50">
      <h1 class="hidden-text-r flex flex-col">
        Let's have a chat
      </h1>
      <p class="text-xl">Don't go further, You may fall into void.</p>

    </div>
      

      <div class="max-w-[85rem] w-full z-50 grid text-lg gap-5">
        <div class="flex flex-col lg:flex-row gap-5">
          <input
            type="text"
            placeholder="First name"
            class="px-4 py-3 w-full text-blue-50 placeholder:text-blue-500 bg-blue-700 hover:border-blue-500 focus:border-blue-500 border-[1px] border-blue-800 outline-none transition-all duration-150"
          />
          <input
            type="text"
            placeholder="Last name"
            class="px-4 py-3 w-full text-blue-50 placeholder:text-blue-500 bg-blue-700 hover:border-blue-500 focus:border-blue-500 border-[1px] border-blue-800 outline-none transition-all duration-150"
          />
        </div>

        <div class="flex flex-col lg:flex-row gap-5">
          <input
            type="tel"
            placeholder="Phone number"
            class="px-4 py-3 w-full text-blue-50 placeholder:text-blue-500 bg-blue-700 hover:border-blue-500 focus:border-blue-500 border-[1px] border-blue-800 outline-none transition-all duration-150"
          />
          <input
            type="email"
            placeholder="Email address"
            class="px-4 py-3 w-full text-blue-50 placeholder:text-blue-500 bg-blue-700 hover:border-blue-500 focus:border-blue-500 border-[1px] border-blue-800 outline-none transition-all duration-150"
          />
        </div>

        <textarea
          placeholder="Describe what would you like to do with us..."
          class="px-4 py-3 w-full text-blue-50 placeholder:text-blue-500 bg-blue-700 hover:border-blue-500 focus:border-blue-500 min-h-[10rem] border-[1px] border-blue-800 outline-none transition-all duration-150"
        ></textarea>

        <button
          class="px-4 py-3 bg-blue-50 text-blue-600 font-bold z-10 hover:bg-blue-200"
        >
          Let’s have a talk</button
        >
      </div>
    </div>

    <div
      data-speed="-4"
      class="absolute gentle-fall-shake layer right-2 lg:right-[7rem]  xl:top-20  mx-auto w-[20rem] 2xl:w-[40rem]"
    >
      <img src="/images/man-falling.png" alt="" />
    </div>

    <div
      data-speed="-8"
      class="absolute z-30 layer right-2 lg:right-[7rem] bottom-2 lg:bottom-10  2xl:bottom-20 blur-[.5px] mx-auto w-[10rem] lg:w-[18rem] 2xl:w-[20rem]"
    >
      <img src="/images/cloud-one.png" alt="" />
    </div>

    <div
      data-speed="6"
      class="absolute layer -left-5 lg:left-[5rem] 2xl:left-[7rem] blur-[0px] z-40 top-0 lg:top-10 mx-auto w-[10rem] lg:w-[18rem] 2xl:w-[20rem]"
    >
      <img src="/images/cloud-three.png" alt="" />
    </div>

    <span
      class="absolute translate-x-2 ball top-32 right-6 lg:right-20 z-20 h-[20px] w-[20px] bg-white"
    >
    </span>

    <span class="absolute left-6 lg:left-20 z-10 h-full w-[2px] bg-blue-50"
    ></span>

    <span class="absolute right-6 lg:right-20 z-10 h-full w-[2px] bg-blue-50">
    </span>
  </div>
</section>
