---
import Cards from "@components/Cards.astro";
---

<section class="scroll-section h-full w-full flex justify-between flex-col purple">
  <div
    class="relative w-full h-full bg-blue-600 text-right flex items-center justify-center"
  >
    <div
      class="absolute text-5xl lg:text-8xl text-center top-20 text-white mx-auto flex flex-col justify-center items-end"
    >
      <h1 class="hidden-text-r flex flex-col">
        <span>We Are Experticed In</span>
      </h1>
    </div>


    <span
      class="absolute translate-x-2 ball top-32 right-6 lg:right-20 z-20 h-[20px] w-[20px] bg-white"
    >
    </span>

    <span class="absolute left-6 lg:left-20 z-10 h-full w-[2px] bg-blue-50"
    ></span>

    <span class="absolute right-6 lg:right-20 z-10 h-full w-[2px] bg-blue-50">
    </span>
  </div>
</section>
