---
import FireworkAnimation from "@components/FireworkAnimation";
---

<section class="scroll-section relative w-full flex items-center justify-center flex-col">
  <div
    class="absolute w-4/5 text-4xl lg:text-8xl text-center translate-y-20 md:translate-y-9 text-blue-600 top-10 xl:top-20 md:w-full flex flex-col justify-center items-center"
  >
    <h1 class="relative text-center hidden-text-l">Feedback Fireworks</h1>

    <p class="text-sm md:text-2xl hidden-text-r">
      Jumping into Awesome Customer Reviews that Spark Up the Internet!
    </p>
  </div>

  <div
    class="flex w-full absolute md:bottom-10 xl:bottom-20 pb-5 items-center gap-5 justify-center p-10"
  >
    <div
      class="relative hidden hidden-text-r hover:-translate-x-2 text-3xl mb-14 xl:flex items-center justify-end"
    >
      <button
        class="absolute px-4 py-3 text-white border border-blue-600 bg-blue-600 z-10"
      >
        P</button
      >

      <div
        class="absolute px-4 py-3 bg-transparent border border-blue-600 text-blue-600 -translate-x-2"
      >
        P
      </div>
    </div>
    <div
      class="p-5 border-y-[2px] hover:shadow-lg hidden-testimonial-t border-blue-600 cursor-pointer"
    >
      <div class="overflow-hidden px-4 py-8 text-center xl:py-16 xl:px-6">
        <figure class="max-w-screen-md mx-auto">
          <svg
            class="h-12 mx-auto mb-3 text-blue-600"
            viewBox="0 0 24 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
              fill="currentColor"></path>
          </svg>
          <blockquote>
            <p class=" text-sm xl:text-2xl font-medium text-gray-900 line-clamp-8 md:line-clamp-none">
              Arceus Digital is absolutely superb! They've left us thoroughly
              impressed with their web development skills. They crafted a
              remarkable website for us at a lower cost, showcasing their
              expertise and dedication. The quality and value they delivered
              exceeded our expectations. Highly recommended!
            </p>
          </blockquote>
          <figcaption class="flex items-center justify-center mt-6 space-x-3">
            <div class="flex flex-col md:flex-row  items-center md:divide-x-2 divide-gray-500">
              <div class="md:pr-3 font-medium text-gray-900">Faizal Izzedeen</div>
              <div class="md:pl-3 text-sm font-light text-gray-500">
                Director - Frankie Global Solutions
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div
      class="relative hidden hidden-text-r hover:translate-x-2 text-3xl xl:flex mb-14 items-center justify-start"
    >
      <button
        class="absolute px-4 py-3 text-white border border-blue-600 bg-blue-600 z-10"
      >
        N</button
      >

      <div
        class="absolute px-4 py-3 bg-transparent border border-blue-600 text-blue-600 translate-x-2"
      >
        N
      </div>
    </div>
  </div>

  <div class="absolute top-0 right-0 -translate-y-[50px]">
    <FireworkAnimation client:visible />
  </div>

  <span class="absolute left-6 md:left-10 xl:left-20 z-10 h-full w-[2px] bg-blue-700"></span>
  <span class="absolute right-6 md:right-10 xl:right-20 z-10 h-full w-[2px] bg-blue-700"></span>
  <div class="w-full h-full bg-blue-50"></div>
</section>
