<div
  class="fixed hidden md:w-20 md:h-20 bg-blue-50 z-[200] left-0 top-0 cursor-pointer border-b-2 border-blue-50 md:flex items-center justify-center"
>
  <svg
    data-name="Layer 1"
    class="h-10 w-10 text-blue-600"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 95.75 82.41"
  >
    <polygon
      points="95.75 82.41 85.31 82.41 80.2 73.63 70.33 73.63 75.43 82.41 65.25 82.41 60.15 73.63 44.36 73.63 44.36 64.63 54.93 64.63 47.88 52.5 30.5 82.41 20.32 82.41 47.88 34.99 65.11 64.63 74.98 64.63 47.88 17.99 10.44 82.41 0 82.41 47.88 0 95.75 82.41"
      fill="currentColor"></polygon>
  </svg>
</div>

<div
  id="NavBtn"
  onclick="openNavbar()"
  class="fixed w-12 md:w-20 h-12 md:h-20 bg-blue-600 cursor-pointer z-[200] right-0 top-0 border-b-2 border-blue-50 flex items-center justify-center"
>
  <div class="icon nav-icon-1">
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
    <span class="nav-icon-dot"></span>
  </div>
</div>
