<section
  class="scroll-section relative w-full h-full flex items-center flex-col justify-center white"
>
  <h1
    class="absolute hide-number text-[10rem] md:text-[12rem] xl:text-[14rem] text-right right-10 top-24 md:right-28 md:top-5 text-blue-600 numbers font-bold"
  >
    02
  </h1>

  <p
    class="title-r absolute text-sm xl:text-lg w-2/3 md:w-1/2  line-clamp-4 xl:line-clamp-none md:left-24 xl:left-32 bottom-20 -translate-x-6 md:-translate-x-2 xl:bottom-20 text-justify text-blue-600 font-light tracking-widest"
  >
    In a world that thrives on virtual connections, making your mark online is
    not just an option; it's a necessity. We understand the significance of
    standing out in the vast digital landscape, and that's why we're here to
    shine a spotlight on you! From crafting captivating content that speaks
    volumes, to devising strategic campaigns that make waves, we're your
    partners in turning the ordinary
  </p>

  <div
    class="absolute text-5xl md:text-7xl xl:text-8xl translate-y-10 md:-translate-y-14  xl:-translate-y-32 text-left text-blue-600 left-12 md:left-20 xl:left-28 flex flex-col justify-center items-start"
  >
    <h1 class="hidden-text-l">
      Quit Hiding,<br />Join the Online<br />Ride!
    </h1>

    <div
      class="relative translate-x-4 hidden-text-r w-52 lg:w-60 xl:w-64 text-lg xl:text-3xl mt-14 flex items-center justify-start"
    >
      <button class="absolute px-4 py-3 bg-blue-600 text-white z-10">
        Let’s Go Online</button
      >

      <div
        class="absolute px-4 py-3 bg-transparent border border-blue-800 text-blue-600 -translate-x-2 translate-y-2"
      >
        Let’s Go Online
      </div>
    </div>
  </div>

  <span
    class="absolute -translate-x-[9px] top-32 left-6 md:left-10 xl:left-20 z-20 h-[20px] w-[20px] bg-blue-700"
  >
  </span>

  <span class="absolute left-6 md:left-10 xl:left-20 z-10 h-full w-[2px] bg-blue-600"></span>
  <span class="absolute right-6 md:right-10 xl:right-20 z-10 h-full w-[2px] bg-blue-600"></span>
  <div class="w-full h-full bg-blue-50"></div>

  <div
    class="relative h-12 md:h-20 xl:h-40 bg-blue-50 w-full flex items-center justify-center"
  >
    <span class="absolute w-full h-[2px] bg-blue-600"></span>

    <span
      class="absolute translate-x-1/2 bottom-0 z-10 h-1/2 w-[2px] bg-blue-600"
    ></span>
  </div>
</section>
