---
//import ScrollDownAnimation from "@components/ScrollDownAnimation.jsx";
---

<section
  class="scroll-section h-full w-full flex justify-between flex-col purple"
>
  <div
    class="relative w-full h-full bg-blue-600 text-right flex items-center justify-center"
  >
    <!--h1
      class="absolute hide-number text-[10rem] md:text-[12rem] xl:text-[14rem]  text-left left-10 md:left-20 top-20 xl:left-28 md:top-5 text-blue-700 numbers font-bold "
    >
      01
    </h1-->

    <div
      data-speed="-2"
      class="absolute gentle-tilt-shake layer z-10 top-5 lg:top-20 md:bottom-[9rem] left-2 lg:left-40 2xl:left-60 mx-auto w-[20rem] lg:w-[25rem] 2xl:w-[40rem]"
    >
      <img src="/images/rider-image.png" alt="" />
    </div>

    <div
      data-speed="-8"
      class="absolute z-30 layer opacity-60 -left-10 md:left-[7rem] bottom-10 xl:bottom-20 blur-[3px] mx-auto w-[12rem]"
    >
      <img src="/images/cloud-one.png" alt="" />
    </div>

    <div
      data-speed="-6"
      class="absolute layer right-[1rem] md:left-[7rem] blur-[0px] bottom-[12rem] md:bottom-auto md:top-10 mx-auto w-[12rem]"
    >
      <img src="/images/cloud-three.png" alt="" />
    </div>

    <div
      data-speed="2"
      class="absolute layer left-[5rem] blur-[2px] top-10 mx-auto w-[20rem]"
    >
      <img src="/images/cloud-two.png" alt="" />
    </div>

    <p
      class="absolute hidden-text-r text-sm xl:text-lg right-12 md:right-20 xl:right-32 md:w-1/2 bottom-12 line-clamp-4 md:line-clamp-5 xl:line-clamp-6 md:bottom-0 text-white font-light tracking-widest w-2/3 text-right"
    >
      Step into the future of commerce with our comprehensive and dynamic
      E-Commerce solution. In today's rapidly evolving business landscape,
      harnessing the power of online platforms is essential to unlocking growth
      and reaching a global audience. Our innovative E-Commerce solution is
      designed to empower businesses of all sizes, from startups to established
      enterprises, by seamlessly integrating cutting-edge technology with your
      unique brand vision.
    </p>

    <div
      class="absolute text-5xl md:text-7xl xl:text-8xl w-full text-right -translate-y-2 text-white right-10 md:right-20 xl:right-28 flex flex-col justify-center items-end"
    >
      <h1 class="hidden-text-r flex flex-col">
        <span>Empowering</span><span>Business with</span><span>E-Commerce</span>
      </h1>

      <div
        class="relative hidden-text-l -translate-x-4 w-52 lg:w-60 xl:w-64 text-lg xl:text-3xl mt-14 flex items-center justify-end"
      >
        <button class="absolute px-4 py-3 bg-white text-blue-600 z-10">
          Let’s have a talk</button
        >

        <div
          class="absolute px-4 py-3 bg-transparent border border-blue-800 text-blue-600 translate-x-2 translate-y-2"
        >
          Let’s have a talk
        </div>
      </div>
    </div>

    <span
      class="absolute translate-x-2 ball top-32 right-6 md:right-10 xl:right-20 z-20 h-[20px] w-[20px] bg-white"
    >
    </span>

    <span
      class="absolute left-6 md:left-10 xl:left-20 z-10 h-full w-[2px] bg-blue-50"
    ></span>

    <span
      class="absolute right-6 md:right-10 xl:right-20 z-10 h-full w-[2px] bg-blue-50"
    >
    </span>
  </div>

  <div
    class="relative hidden h-12 md:h-20 xl:h-40 bg-blue-600 w-full md:flex items-center justify-center"
  >
    <span class="absolute w-full h-[2px] bg-blue-50"></span>

    <span
      class="absolute right-6 md:right-10 xl:right-20 z-10 h-full w-[2px] bg-blue-50"
    ></span>
    <span
      class="absolute left-6 md:left-10 xl:left-20 z-10 h-full w-[2px] bg-blue-50"
    ></span>
  </div>
</section>
