<section
  class="scroll-section w-full flex justify-between flex-col overflow-hidden purple"
>
  <div
    class="relative w-full h-screen bg-blue-600 text-right flex items-center justify-center"
  >

    <h1
      class="absolute hide-number w-full text-[8rem] md:text-[12rem] leading-[9rem] md:leading-[12rem] text-center my-auto right-0 rotate-90 md:rotate-0 text-blue-700 numbers font-bold"
    >
      SOCIAL<br/>MEDIA<span class=" text-blue-50">.</span>
    </h1>




    <span
      class="absolute translate-x-2 ball top-32 right-6 lg:right-20 z-20 h-[20px] w-[20px] bg-white"
    >
    </span>

    <span class="absolute left-6 lg:left-20 z-10 h-full w-[2px] bg-blue-50"
    ></span>

    <span class="absolute right-6 lg:right-20 z-10 h-full w-[2px] bg-blue-50">
    </span>


  </div>
</section>
